@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FEEBDD;
}

@layer utilities {
    .text-green {
        color: #48553B;
    }
    .text-quase {
        color: #9A6A50;
    }
    .text-yellow {
        color: #F4D399;
    }
    .bg-green-new {
        background-color: #698457;
    }
    .bg-green-dark {
        background-color: #334127;
    }
    .bg-yellow {
        background-color: #F4D399;
    }
    .bg-quase2 {
        background-color: #9A6A50;
    }
    .bg-green {
        background-color: #48553B;
    }
    .bg-quase {
        background-color: #B59677;
    }
    .bg-gray {
        background-color: #EBEBEB;
    }
    
}